<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kkamnyang.mapper.BoardMapper">

   <insert id="create">
      insert into tbl_board (boardNo, title, content,
      writer) values(seq_board.nextval,#{title},#{content},#{writer})
   </insert>

   <select id="read" resultType="org.kkamnyang.domain.BoardVO">
      select * from tbl_board where
      boardNo=#{boardNo}
   </select>

   <update id="update">
      update tbl_board set title=#{title},
      content=#{content} where boardNo=#{boardNo}
   </update>

   <delete id="delete">
      delete tbl_board where boardNo=#{boardNo}
   </delete>



   <select id="listCriteria" resultType="BoardVO">
<![CDATA[
select *
   from
   (
   select /*+INDEX_DESC(tbl_board pk_board)*/
   rownum rn, boardNo, title, content, writer, regdate, vcount, lcount
   from tbl_board
   where rownum <= #{page} * #{perPageNum}
   and boardNo > 0
   )
   where rn > (#{page}-1) * #{perPageNum}
]]>
   </select>

   <select id="countPaging" resultType="int">
<![CDATA[
select count(boardNo)
from tbl_board
where boardNo>0
]]>
   </select>


   <sql id="search">
      <if test="searchType != null">
         <if test="searchType == 't'.toString()">
            and title like '%'||#{keyword}||'%'
         </if>
         <if test="searchType == 'c'.toString()">
            and content like '%'||#{keyword}||'%'
         </if>
         <if test="searchType == 'w'.toString()">
            and writer like '%'||#{keyword}||'%'
         </if>
         <if test="searchType == 'tc'.toString()">
            and ( title like '%'||#{keyword}||'%' OR content like
            '%'||#{keyword}||'%')
         </if>
         <if test="searchType == 'cw'.toString()">
            and ( content like '%'||#{keyword}||'%' OR writer like
            '%'||#{keyword}||'%')
         </if>
         <if test="searchType == 'tcw'.toString()">
            and ( title like '%'||#{keyword}||'%'
            OR
            content like
            '%'||#{keyword}||'%'
            OR
            writer like '%'||#{keyword}||'%')
         </if>
      </if>
   </sql>


   <select id="listSearchCount" resultType="int">
   <![CDATA[
      select count(boardNo) from tbl_board where 1=1
      ]]>
      <include refid="search"></include>
      <![CDATA[
      and boardNo>0
      ]]>
   </select>


   <select id="listSearch" resultType="org.kkamnyang.domain.BoardVO">
      <![CDATA[
      select *
      from
      (select /*+INDEX_DESC (tbl_board,pk_board)*/
      rownum rn, boardNo, title, content, writer, regdate, vcount, lcount, replycnt
      from tbl_board
      where 1=1
      ]]>
      <include refid="search"></include>
      <![CDATA[
      and rownum <= #{page}*#{perPageNum}
      and boardNo>0
      )
      where rn > (#{page}-1)*#{perPageNum}
      ]]>
   </select>


   <insert id="addAttach">
      insert into tbl_attach(fullName,boardNo)
      values(#{fullName},seq_board.currval)
   </insert>

   <select id="getAttach" resultType="string">
      select fullName from tbl_attach where boardNo=#{boardNo} order by regdate
   </select>
   
   <update id="updateReplyCnt">
      update tbl_board set replycnt = replycnt +#{amount} where boardNo = #{boardNo}
   </update>
   
   <update id="updateViewCnt">
      update tbl_board set vcount = vcount +1 where boardNo=#{boardNo}
   </update>

<delete id="deleteAttach">
delete from tbl_attach where boardNo=#{boardNo}
</delete>

<insert id="replaceAttach">
insert into tbl_attach(fullName, boardNo) values (#{fullName},#{boardNo})
</insert>

</mapper>