<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.kkamnyang.persistence.MemberMapper">
	
	<insert id="create" useGeneratedKeys="true" keyProperty="memberno">
		insert into tbl_member(userNo,userName,email,mPassword)
        values(#{userNo},#{userName},#{email},#{mPassword})
	</insert>
	
	<select id="list" resultType="org.kkamnyang.domain.MemberVO">
		select * from tbl_member
	</select>
	
	<select id="read" resultType="org.kkamnyang.domain.MemberVO">
		select * from tbl_member where memberno = #{memberno}
	</select>

	<update id="update">
		update tbl_member set userNo=#{userNo},userName=#{userName},email=#{email},mPassword=#{mPassword},img=#{img}
		where memberno=#{memberno}
	</update>
	
	<delete id="delete">
		delete from tbl_member where memberno=#{memberno}
	</delete>
	
	<select id="getUser" resultType="org.kkamnyang.domain.MemberVO">
		select * from tbl_member where email = #{email}
	</select>
	
	<insert id="firstParticipate">
		insert into tbl_participate(routeno,memberno) 
		values(#{routeno},#{memberno})
	</insert>
	
	<update id="updateParticipate">
		update tbl_participate set score = #{score}, stage=#{stage}, lastDate = now()
	</update>
	
	<update id="finishRoute">
		update tbl_participate set finish = true, lastDate = now()
	</update>
	
	<insert id="inviteCreate">
		insert into tbl_invite(routeno,memberno)
		values(#{routeno},#{memberno})
	</insert>
	
	<select id="inviteRead" resultType="org.kkamnyang.domain.InviteVO">
		select * from tbl_invite where routeno=#{routeno} orderby 
	</select>
	
	<update id="inviteUpdate">
		update tbl_invite set memberno = #{memberno} where routeno=#{routeno}
	</update>
	
	<delete id="inviteDelete">
		delete from tbl_invite where inviteno=#{inviteno}
	</delete>
	
</mapper>