<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.kkamnyang.persistence.ParticipateMapper">
  
  <insert id="create" useGeneratedKeys="true" keyProperty="participateno">
  	insert into tbl_participate(routeno,memberno,score,stage) 
  	values(#{routeno},#{memberno},#{score},#{stage})
  </insert>
  
  <select id="list">
  	select * from tbl_participate where memberno = #{memberno} and routeno=#{routeno}
  </select>
  
  <update id="update">
  	update tbl_participate set score = #{score}, stage = #{stage}, lastDate = now() where participateno = #{participateno}
  </update>
  
  <delete id="delete">
  	delete from tbl_participate where participateno = #{participateno}
  </delete>
  
  <update id="finish">
  	update tbl_participate set score = #{score}, lastDate = now(), finish = true where participateno = #{participateno}
  </update>
  
  <select id="finishList" resultType="org.kkamnyang.domain.RouteVO">
  	select R.* 
from (select distinct routeno from tbl_participate where memberno = #{memberno} AND finish = true) rno, tbl_route AS R
where rno.routeno = R.routeno
  </select>
  
  <select id="finishRoute" resultType="org.kkamnyang.domain.FinishRouteVO">
	select P.participateno, R.routename ,A.username,P.routeno, P.memberno, P.score,P.participateDate,P.lastDate 
	from tbl_participate AS P,tbl_route AS R , tbl_admin AS A
	where P.routeno = R.routeno AND R.adminno = A.adminno AND P.memberno = #{memberno} AND P.routeno = #{routeno} AND P.finish = true 
	order by lastDate desc
	Limit #{page},1
  </select>
  </mapper>