<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.kkamnyang.persistence.QuestionMapper">
	<insert id="create">
		insert into tbl_question(eventno,question,answer,point,qtype,choice1,choice2,choice3,choice4)
		values(#{eventno},#{question},#{answer},#{point},#{qtype},#{choice1},#{choice2},#{choice3},#{choice4})
	</insert>
	
	<select id="read" resultType="org.kkamnyang.domain.QuestionVO">
		select * from tbl_question where eventno=#{eventno}
	</select>

	<update id="update">
		update tbl_question set question=#{question},answer=#{answer},point=#{point},qtype=#{qtype},
		choice1=#{choice1},choice2=#{choice2},choice3=#{choice3},choice4=#{choice4}
		where eventno=#{eventno}
	</update>
	
	<delete id="delete">
		delete from tbl_question where eventno=#{eventno}
	</delete>
	
	<insert id="addAttach">
		insert into tbl_qattach(qfullName,questionno)
		values(#{qfiles},#{questionno})
	</insert>

	<select id="getAttach" resultType="string">
		select qfullName from tbl_qattach where questionno=#{questionno} order by regdate
	</select>
	
	
	
</mapper>